.Book-section {
    background-image: repeating-linear-gradient(
            220deg,
            rgb(0, 0, 0) 0px,
            rgb(0, 0, 0) 19px,
            transparent 19px,
            transparent 22px
        ),
        repeating-linear-gradient(
            189deg,
            rgb(0, 0, 0) 0px,
            rgb(0, 0, 0) 19px,
            transparent 19px,
            transparent 22px
        ),
        repeating-linear-gradient(
            148deg,
            rgb(0, 0, 0) 0px,
            rgb(0, 0, 0) 19px,
            transparent 19px,
            transparent 22px
        ),
        linear-gradient(90deg, rgb(30, 169, 65), rgb(158, 25, 173));
    padding: 100px 20px;
    line-height: 1.6;
    color: #ffffff;
    @media (min-width: 768px) {
        padding: 100px;
    }

    .Book-title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 100px;
        color: #ffffff;
    }

    .chapter-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 10px;
        // color: #007BFF;
        background: linear-gradient(135deg, #43e97b, #38f9d7);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 2px solid #ddd;
        padding-bottom: 5px;
    }

    .chapter-content {
        margin-bottom: 20px;
        color: #f8f5f5;
        white-space: pre-wrap; /* Pour préserver les retours à la ligne */
    }
}
