.CardsBooks-section {
    .CardsBooks {
        width: 100px;
        height: 150px;
        //  background-color: blueviolet;
        border: solid 1px white;
        border-radius: 7px;
        img {
            width: 100px;
            height: 150px;
            border-radius: 7px;
        }
    }
    .settings {
        color: white;
        margin-top: 10px;
    }
}
