.Home-section{
    width: 100vw;
    height: 100vh;
    background-image: repeating-linear-gradient(135deg, rgb(24,24,24) 0px,rgb(24,24,24) 12px,transparent 13px),repeating-linear-gradient(217deg, rgb(24,24,24) 0px,rgb(24,24,24) 12px,transparent 13px),linear-gradient(90deg, hsla(205,0%,61%,1),hsla(190,0%,61%,1));    
}