.Home-section {
    height: auto;
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .Books-section {
        display: flex;
        gap: 60px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}
